# Server
PORT=5000

# Database
MONGO_URI=mongodb://localhost:27017/guruconnect

# JWT
JWT_SECRET=supersecretkey
GEMINI_API_KEY=AIzaSyCyQUDs-iukwwknkVIAhUy80KESrNQ004E
RAZORPAY_KEY_ID=rzp_test_SIMv7P6qTeyOXd
RAZORPAY_KEY_SECRET=uk9qweB2onr1LvFTRU61YJyT
ZOOM_ACCOUNT_ID="P63GFjbJQ7-yLG1BMRSuyw"
ZOOM_CLIENT_ID="e1751MoiReiT7Yvoup6IsQ"
ZOOM_CLIENT_SECRET="cmBR8m4uLk75k@ut0ggmpSCzMs65e1Zu


